@use './config/reset.scss';
@use './config/responsive.scss';
@use './config/variaveis.scss';
@use './content/products.scss';
@use 'sass:math';

body {
    background-color: variaveis.$background-color;
}

li {
    list-style: none;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: variaveis.$primary-color;
    position: sticky;
    top: 0;
    left: 0;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }
}

.menu {
    display: flex;
    li {
        font-weight: bold;
        margin-left: 24px;
        a {
            color: variaveis.$link-color;
            text-decoration: none;
        }
    }
}

section{
    padding: 56px 0;
}